.detail-container{
max-width: 960px;
margin: 0 auto;
overflow: hidden;
margin-top: 50px;
}

@media screen and ((min-width: 1280px)) {
    .detail-container{
        max-width: 1200px;
    }
}

@media screen and (max-width: 767px) {
    .section {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .box {
    background-color: #e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    border-radius: 15px;
    margin-bottom: 30px;
  }
  
  @media screen and (max-width: 767px) {
    .box {
      margin-bottom: 15px;
    }
  }

  .row{
    display: flex;
    flex-wrap: wrap;
  }
  .col{
    width: 100%;
  }
