.detail-container {
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 50px;
}

@media screen and ((min-width: 1280px)) {
  .detail-container {
    max-width: 1200px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.col {
  width: 90%;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border: 2px solid #d3dee7;
  box-shadow: 0 10px 10px 10px grey;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.box P {
  transition: 0.3s ease;
}
.box p:hover{
  transform: translateX(20px) scale(1.1);
}
.box-a{
  padding-right:30px;
  width: 75%;
}
.box-b{
 padding: 0 5px;
}

@media screen and (max-width: 767px) {
  .box {
    margin-bottom: 15px;
  }
}


